tar: upstream:. name=@name@-@version@
diff: v@version@:. tags-annotated:. name=hg-fast-export-@version@-alt-tags-annotated.patch
diff: v@version@:. default-branch-name:. name=hg2git-@version@-alt-default-branch-name.patch
