tar: upstream:. name=hg-fast-export-@version@-@release@
diff: gear_patch_base/tags-annotated:. tags-annotated:. name=hg-fast-export-alt-tags-annotated.patch
diff: gear_patch_base/default-branch-name:. default-branch-name:. name=hg2git-alt-default-branch-name.patch
